@charset "utf-8";
/* CSS Document */
header{
    background-color: #113245;
    color: #E7E6E0;
    height: 150px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}
h1 {
    font-size: 36px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 1024px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
    height: 70px;
    background-color: #03878F;
    text-align: center;
}
header, nav, main, footer {
    width: 100%;
}
main {
    background-color: #ED5958;
    padding: 50px;
    height: auto;
}
main section {
    background-color: #F2B531;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
}
main section h2 {
    color: #113245;
    font-style: normal;
    text-align: center;
    font-size: 24px;
}
footer {
    height: 100px;
    margin: 0 auto;
    background-color: #113245;
    text-align: center;
}
footer h6 {
    height: 50px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #E7E6E0;
    font-size: 15px;
}
nav ul li {
    list-style-image: none;
    width: 91px;
    background-color: #68C6A4;
    color: #F2B531;
    margin-left: 5px;
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    height: 30px;
    text-align: center;
    font-size: 9px;
}
nav ul {
    margin-left: 10px;
    margin-right: 10px;
    list-style-image: none;
    height: 50px;
    padding-top: 19px;
    padding-bottom: 10px;
}
main section p {
    color: #113245;
}
a{
    color: #ED5958;
  }
 a:visited{
    color: #113245;
  }
 a:hover{
    color: #ED5958;
    background-color:#E7E6E0;
}
 a:link{
    color: #03878F;
  }
 a:active{
    color: #E4A5A4;
  }
