@charset "utf-8";
/* CSS Document */

 table{
    border: "1";
    border-collapse: collapse;
    border-radius: 0px;
    background-color: #03878F;
    width: auto;
 }
table, th td {
    border-radius: 10px;
    padding: 10px;
    display: table-cell;
}
 th{
    color: #113245;
    text-align: center;
    width: 72px;
 }
td{
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #113245;
}
table tr th {
    border-radius: 8px 8px 0px 0px / 8px;
}


 /*tr:nth-child(odd){
	 background-color:cadetblue;
	 color:aliceblue;
	 border-style:dashed;
	 border-color:red;
 }
 tr:nth-child(even){
	 background-color:darkblue;
	 color:azure;
	 border-style:dotted;
	 border-color:green;
 }*/
 /*zebras en vertical*/
 th:nth-child(odd),td:nth-child(odd){
    background-color: #68C6A4;
    border-spacing: 0px 0px;
 }
 h2{
    color: #03878F;
    font-size: 25px;
    text-align: left;
 }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
    padding: 0auto;
    box-sizing: border-box;
}

 header{
    height: 150px;
    background-color: #113245;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #E7E6E0;
    text-align: center;
 }
h1 {
    width: 1024px;
    height: 100px;
    padding: 20px;
    margin-bottom: 25px;
    font-size: 36px;
    text-align: center;
}
nav {
    background-color: #03878F;
    height: 70px;
    text-align: center;
}
nav ul {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 19px;
    padding-bottom: 10px;
}
nav ul li {
    width: 90px;
    height: 30px;
    list-style-image: none;
    background-color: #68C6A4;
    padding: 5px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
}
 main{
    height: auto;
    padding: 50px;
    background-color: #ED5958;
 }
main section {
    background-color: #F2B531;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
    color: #113245;
}
footer {
    background-color: #113245;
}
footer h6 {
    color: #E7E6E0;
    font-size: 15px;
    text-align: center;
    width: 50%;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}


a{
    color: #ED5958;
  }
 a:visited{
    color: #113245;
  }
 a:hover{
    color: #ED5958;
    background-color:#E7E6E0;
}
 a:link{
    color: #03878F;
  }
 a:active{
    color: #E4A5A4;
  }
