@charset "utf-8";
/* CSS Document */

header {
    background-color: #113245;
    height: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #E7E6E0;
}
h2 {
    font-size: 30px;
}

* {
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    width: 1024px;
    height: 100px;
    padding: 20px;
    margin-bottom: 25px;
    font-size: 36px;
}
main {
    background-color: #ED5958;
    padding: 50px;
    height: auto;
}
ul {
    background-repeat: repeat-x;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: -38px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li  {
    width: 150px;
    height: 40px;
    display: list-item;
    padding: 5px;
    margin-right: 10px;
    margin-left: -1px;
}
ul li a {
    background-color: #68C6A4;
    width: 170px;
    height: 25px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inherit;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 9px;
}

main section {
    background-color: #F2B531;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
    color: #113245;
}
footer {
    height: 100px;
    background-color: #113245;
    text-align: center;
}
footer h6 {
    color: #E7E6E0;
    font-size: 15px;
    width: 50%;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

a{
    color: #ED5958;
  }
 a:visited{
    color: #113245;
  }
 a:hover{
    color: #ED5958;
    background-color:#E7E6E0;
}
 a:link{
    color: #113245;
  }
 a:active{
    color: #E4A5A4;
  }
