@charset "utf-8";
  header, nav, main, footer{
    width: 100%;
  }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #113245;
    height: 150px;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    color: #E7E6E0;
}
h1{
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    text-align: center;
    height: 100px;
    padding: 20px;
    font-size: 36px;
    width: 1024px;
}
main{
    background-color: #ED5958;
    padding: 50px;
    height: auto;
}

nav ul{
    height: 50px;
    background-color: #03878F;
    padding-top: 19px;
    padding-bottom: 10px;
}
nav {
    height: 70px;
    text-align: center;
	background-color: #03878F;
}

nav ul li {
    width: 89px;
    height: 30px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    background-color: #68C6A4;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#caja-altura{
	height: auto;
}
 .caja_general{
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 81%;
	height: auto;
}
.caja_section_pares{
    background-color: #F2B531;
    color: #113245;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
}
.caja_section_impares{
    background-color: #E7E6E0;
    color: #03878F;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

#img_1 {
	height: auto;
	width: 25%;
	margin: 30px;
	border-left: 11px solid #D67371;
	border-right: 11px solid #D67371;
	border-bottom: 40px solid #D67371;
	border-top: 11px solid #D67371;
}
.caja_section_pares.caja_general p {
}
.clase {
}
.imagen_2 {
    width: 30%;
    padding: 10px;
    height: 50%;
}
#filter_grey {
    filter: grayscale(100%);
}
#filter_blur {
    filter: blur(5px);
}
#filter_brillo {
    filter: brightness(70%);
}
#filter_contraste {
    filter: contrast(80%);
}
#filter_opacidad {
    filter: opacity(30%);
}
#filter_saturacion {
    filter: saturate(70%);
}
#filter_sepia {
    filter: sepia(90%);
}
footer {
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: auto;
    background-color: #113245;
}
footer h6 {
    width: 50%;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    color: #E7E6E0;
    font-size: 15px;
}
a{
    color: #ED5958;
  }
 a:visited{
    color: #113245;
  }
 a:hover{
    color: #ED5958;
    background-color:#E7E6E0;
}
 a:link{
    color: #03878F;
  }
 a:active{
    color: #E4A5A4;
  }
